docs/develop/tintc/Template nifi/Template-MergeRecord-Optimize-Size.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>7efb3590-ee4e-1f12-43d8-5a0d4f379d00</groupId>
    <name>Template-MergeRecord-Optimize-Size</name>
    <snippet>
        <connections>
            <id>01ce864a-6503-35ca-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>06e88f6d-ab1b-3e85-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute>
      </loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>
      </name>
            <selectedRelationships>matched</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>b9b4ba34-1c7f-3c5a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>084bac67-a297-39b8-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>b9b4ba34-1c7f-3c5a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>2c36fce4-01d5-355d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0a849528-66a9-3561-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>99cbcfc0-ab4d-3ddf-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>444943e8-3697-35ab-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>25db0fba-908c-34fe-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>444943e8-3697-35ab-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>06e88f6d-ab1b-3e85-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>5a0c9fe2-45a8-3c9d-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>cbe524a5-8f8b-3151-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute>
      </loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>
      </name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>0c28af8f-3298-3b46-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c65cce24-fd52-32ab-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>2c36fce4-01d5-355d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>579bcba8-c94c-3095-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>ce665330-62f0-3459-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>6e61664c-1197-3b3e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>is_check_data</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>2c36fce4-01d5-355d-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>dbb2625c-90e3-3e3e-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>0c28af8f-3298-3b46-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute>
      </loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>
      </name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>invalid</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>6e61664c-1197-3b3e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e2ceb2a7-b055-3efd-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>b9b4ba34-1c7f-3c5a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute>
      </loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name>
      </name>
            <selectedRelationships>valid</selectedRelationships>
            <source>
                <groupId>42968777-d8e5-37f2-0000-000000000000</groupId>
                <id>6e61664c-1197-3b3e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>21e0695f-1d55-39f8-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-iceberg-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <comments>
      </comments>
            <descriptors>
                <entry>
                    <key>hive-metastore-uri</key>
                    <value>
                        <name>hive-metastore-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>warehouse-location</key>
                    <value>
                        <name>warehouse-location</name>
                    </value>
                </entry>
                <entry>
                    <key>hadoop-config-resources</key>
                    <value>
                        <name>hadoop-config-resources</name>
                    </value>
                </entry>
            </descriptors>
            <name>HiveCatalogService - TH_TTDLQG_G02_006</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>hive-metastore-uri</key>
                    <value>thrift://centos-8-01.novalocal:9083</value>
                </entry>
                <entry>
                    <key>warehouse-location</key>
                    <value>/user/hive/warehouse</value>
                </entry>
                <entry>
                    <key>hadoop-config-resources</key>
                    <value>/opt/hadoop/conf/core-site.xml,/opt/hadoop/conf/hdfs-site.xml
</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.services.iceberg.HiveCatalogService</type>
        </controllerServices>
        <controllerServices>
            <id>5c194ca0-cbdc-3dbe-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <versionedComponentId>5c194ca0-cbdc-3dbe-9173-64eb403ed5a2</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>
                        <name>Allow Scientific Notation</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter_schema</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>Allow Scientific Notation</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>8831a1bc-0e4d-39f5-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <comments>
      </comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>
                        <name>Max String Length</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>
                        <name>Allow Comments</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader - TH_TTDLQG_G02_006</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>TH_TTDLQG_G02_006</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>{"fields":[{"doc":"Thông tin nguồn dữ liệu","hue_name":"nguon_du_lieu","hue_value":"NguonDuLieu","name":"NguonDuLieu","pascal_name":"NguonDuLieu","type":{"fields":[{"doc":"Mã định danh nguồn dữ liệu (= BCT — Bộ Công Thương)","hue_name":"nguon_du_lieu__id_nguon_du_lieu","hue_value":"NguonDuLieu.IdNguonDuLieu","name":"IdNguonDuLieu","pascal_name":"IdNguonDuLieu","type":"string"},{"doc":"Tên nguồn dữ liệu","hue_name":"nguon_du_lieu__ten_nguon_du_lieu","hue_value":"NguonDuLieu.TenNguonDuLieu","name":"TenNguonDuLieu","pascal_name":"TenNguonDuLieu","type":"string"},{"doc":"Mã loại dữ liệu (= BCT_006)","hue_name":"nguon_du_lieu__ma_loai_du_lieu","hue_value":"NguonDuLieu.MaLoaiDuLieu","name":"MaLoaiDuLieu","pascal_name":"MaLoaiDuLieu","type":"string"},{"default":null,"doc":"Tên/mô tả loại dữ liệu (= CSDL Khu, Cụm Công nghiệp, Cụm liên kết ngành)","hue_name":"nguon_du_lieu__ten_loai_du_lieu","hue_value":"NguonDuLieu.TenLoaiDuLieu","name":"TenLoaiDuLieu","pascal_name":"TenLoaiDuLieu","type":["null","string"]}],"name":"NguonDuLieu_1","type":"record"}},{"doc":"Trạng thái và phiên bản dữ liệu","hue_name":"trang_thai_du_lieu","hue_value":"TrangThaiDuLieu","name":"TrangThaiDuLieu","pascal_name":"TrangThaiDuLieu","type":{"fields":[{"doc":"Phiên bản dữ liệu (versioning/dedup)","hue_name":"trang_thai_du_lieu__phien_ban","hue_value":"TrangThaiDuLieu.PhienBan","name":"PhienBan","pascal_name":"PhienBan","type":"long"},{"default":null,"doc":"Ngày hiệu lực","hue_name":"trang_thai_du_lieu__ngay_hieu_luc","hue_value":"TrangThaiDuLieu.NgayHieuLuc","name":"NgayHieuLuc","pascal_name":"NgayHieuLuc","type":["null","string"]},{"default":null,"doc":"Thời gian cập nhật","hue_name":"trang_thai_du_lieu__thoi_gian_cap_nhat","hue_value":"TrangThaiDuLieu.ThoiGianCapNhat","name":"ThoiGianCapNhat","pascal_name":"ThoiGianCapNhat","type":["null","string"]}],"name":"TrangThaiDuLieu_2","type":"record"}},{"doc":"Mô tả chung của loại dữ liệu BBN","hue_name":"du_lieu_tiep_nhan","hue_value":"DuLieuTiepNhan","name":"DuLieuTiepNhan","pascal_name":"DuLieuTiepNhan","type":{"fields":[{"doc":"Mã định danh bản ghi (UUID)","hue_name":"du_lieu_tiep_nhan__id_ban_ghi","hue_value":"DuLieuTiepNhan.IdBanGhi","name":"IdBanGhi","pascal_name":"IdBanGhi","type":"string"},{"doc":"Mã định danh bộ dữ liệu (UUID)","hue_name":"du_lieu_tiep_nhan__ma_dinh_danh_du_lieu","hue_value":"DuLieuTiepNhan.MaDinhDanhDuLieu","name":"MaDinhDanhDuLieu","pascal_name":"MaDinhDanhDuLieu","type":"string"},{"doc":"Tiêu đề bộ dữ liệu","hue_name":"du_lieu_tiep_nhan__tieu_de","hue_value":"DuLieuTiepNhan.TieuDe","name":"TieuDe","pascal_name":"TieuDe","type":"string"},{"default":null,"doc":"Mô tả bộ dữ liệu","hue_name":"du_lieu_tiep_nhan__mo_ta","hue_value":"DuLieuTiepNhan.MoTa","name":"MoTa","pascal_name":"MoTa","type":["null","string"]},{"default":null,"doc":"Tần suất cập nhật","hue_name":"du_lieu_tiep_nhan__tan_suat_cap_nhat","hue_value":"DuLieuTiepNhan.TanSuatCapNhat","name":"TanSuatCapNhat","pascal_name":"TanSuatCapNhat","type":["null","string"]},{"default":null,"doc":"Ngày cập nhật","hue_name":"du_lieu_tiep_nhan__ngay_cap_nhat","hue_value":"DuLieuTiepNhan.NgayCapNhat","name":"NgayCapNhat","pascal_name":"NgayCapNhat","type":["null","string"]},{"default":null,"doc":"Trạng thái bộ dữ liệu","hue_name":"du_lieu_tiep_nhan__trang_thai","hue_value":"DuLieuTiepNhan.TrangThai","name":"TrangThai","pascal_name":"TrangThai","type":["null","string"]},{"doc":"Dữ liệu đặc thù — CSDL Khu, Cụm Công nghiệp, Cụm liên kết ngành [nguồn: Nghị định 32/2024/NĐ-CP về quản lý, phát triển cụm công nghiệp; Luật Đầu tư]","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung","hue_value":"DuLieuTiepNhan.DuLieuBoSung","name":"DuLieuBoSung","pascal_name":"DuLieuBoSung","type":{"fields":[{"doc":"Tên khu/cụm công nghiệp/cụm liên kết ngành","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__ten_cum_cong_nghiep","hue_value":"DuLieuTiepNhan.DuLieuBoSung.TenCumCongNghiep","name":"TenCumCongNghiep","pascal_name":"TenCumCongNghiep","type":"string"},{"default":null,"doc":"Loại hình","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__loai_hinh","hue_value":"DuLieuTiepNhan.DuLieuBoSung.LoaiHinh","name":"LoaiHinh","pascal_name":"LoaiHinh","type":["null","string"]},{"default":null,"doc":"Địa bàn (xã/huyện)","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__dia_ban","hue_value":"DuLieuTiepNhan.DuLieuBoSung.DiaBan","name":"DiaBan","pascal_name":"DiaBan","type":["null","string"]},{"default":null,"doc":"Tỉnh/Thành phố","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__tinh_thanh","hue_value":"DuLieuTiepNhan.DuLieuBoSung.TinhThanh","name":"TinhThanh","pascal_name":"TinhThanh","type":["null","string"]},{"default":null,"doc":"Diện tích quy hoạch (ha)","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_quy_hoach","hue_value":"DuLieuTiepNhan.DuLieuBoSung.DienTichQuyHoach","name":"DienTichQuyHoach","pascal_name":"DienTichQuyHoach","type":["null","double"]},{"default":null,"doc":"Diện tích đất công nghiệp (ha)","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_dat_cong_nghiep","hue_value":"DuLieuTiepNhan.DuLieuBoSung.DienTichDatCongNghiep","name":"DienTichDatCongNghiep","pascal_name":"DienTichDatCongNghiep","type":["null","double"]},{"default":null,"doc":"Diện tích đất công nghiệp đã cho thuê (ha)","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_da_cho_thue","hue_value":"DuLieuTiepNhan.DuLieuBoSung.DienTichDaChoThue","name":"DienTichDaChoThue","pascal_name":"DienTichDaChoThue","type":["null","double"]},{"default":null,"doc":"Tỷ lệ lấp đầy (%)","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__ty_le_lap_day","hue_value":"DuLieuTiepNhan.DuLieuBoSung.TyLeLapDay","name":"TyLeLapDay","pascal_name":"TyLeLapDay","type":["null","double"]},{"default":null,"doc":"Chủ đầu tư hạ tầng","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__chu_dau_tu_ha_tang","hue_value":"DuLieuTiepNhan.DuLieuBoSung.ChuDauTuHaTang","name":"ChuDauTuHaTang","pascal_name":"ChuDauTuHaTang","type":["null","string"]},{"default":null,"doc":"Ngành nghề thu hút đầu tư","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__nganh_nghe_thu_hut","hue_value":"DuLieuTiepNhan.DuLieuBoSung.NganhNgheThuHut","name":"NganhNgheThuHut","pascal_name":"NganhNgheThuHut","type":["null",{"items":"string","type":"array"}]},{"default":null,"doc":"Số quyết định thành lập","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__so_quyet_dinh_thanh_lap","hue_value":"DuLieuTiepNhan.DuLieuBoSung.SoQuyetDinhThanhLap","name":"SoQuyetDinhThanhLap","pascal_name":"SoQuyetDinhThanhLap","type":["null","string"]},{"default":null,"doc":"Ngày thành lập","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__ngay_thanh_lap","hue_value":"DuLieuTiepNhan.DuLieuBoSung.NgayThanhLap","name":"NgayThanhLap","pascal_name":"NgayThanhLap","type":["null","string"]},{"default":null,"doc":"Trạng thái","hue_name":"du_lieu_tiep_nhan__du_lieu_bo_sung__trang_thai","hue_value":"DuLieuTiepNhan.DuLieuBoSung.TrangThai","name":"TrangThai","pascal_name":"TrangThai","type":["null","string"]}],"name":"DuLieuBoSung_3_8","type":"record"}}],"name":"DuLieuTiepNhan_3","type":"record"}}],"name":"G02_006","namespace":"dmst.integration","type":"record"}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>20 MB</value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
            <id>89af62d4-a433-3583-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <versionedComponentId>89af62d4-a433-3583-8027-bfcde9ff72e9</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <dependencies>
                            <dependentValues>infer-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>
                        <name>starting-field-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>starting-field-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>schema-text-property</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <dependencies>
                            <dependentValues>NESTED_FIELD</dependentValues>
                            <propertyName>starting-field-strategy</propertyName>
                        </dependencies>
                        <name>schema-application-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>
                        <name>Max String Length</name>
                    </value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>
                        <name>Allow Comments</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>starting-field-strategy</key>
                    <value>ROOT_NODE</value>
                </entry>
                <entry>
                    <key>starting-field-name</key>
                </entry>
                <entry>
                    <key>schema-application-strategy</key>
                    <value>SELECTED_PART</value>
                </entry>
                <entry>
                    <key>Max String Length</key>
                    <value>20 MB</value>
                </entry>
                <entry>
                    <key>Allow Comments</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>06e88f6d-ab1b-3e85-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>696.0</x>
                <y>712.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JSON Handling Strategy</key>
                        <value>
                            <name>JSON Handling Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Print</key>
                        <value>
                            <dependencies>
<dependentValues>flowfile-content</dependentValues>
<propertyName>Destination</propertyName>
                            </dependencies>
                            <name>Pretty Print</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Attributes List</key>
                        <value>nguon_du_lieu__id_nguon_du_lieu,nguon_du_lieu__ten_nguon_du_lieu,nguon_du_lieu__ma_loai_du_lieu,nguon_du_lieu__ten_loai_du_lieu,trang_thai_du_lieu__phien_ban,trang_thai_du_lieu__ngay_hieu_luc,trang_thai_du_lieu__thoi_gian_cap_nhat,du_lieu_tiep_nhan__id_ban_ghi,du_lieu_tiep_nhan__ma_dinh_danh_du_lieu,du_lieu_tiep_nhan__tieu_de,du_lieu_tiep_nhan__mo_ta,du_lieu_tiep_nhan__tan_suat_cap_nhat,du_lieu_tiep_nhan__ngay_cap_nhat,du_lieu_tiep_nhan__trang_thai,du_lieu_tiep_nhan__du_lieu_bo_sung__ten_cum_cong_nghiep,du_lieu_tiep_nhan__du_lieu_bo_sung__loai_hinh,du_lieu_tiep_nhan__du_lieu_bo_sung__dia_ban,du_lieu_tiep_nhan__du_lieu_bo_sung__tinh_thanh,du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_quy_hoach,du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_dat_cong_nghiep,du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_da_cho_thue,du_lieu_tiep_nhan__du_lieu_bo_sung__ty_le_lap_day,du_lieu_tiep_nhan__du_lieu_bo_sung__chu_dau_tu_ha_tang,du_lieu_tiep_nhan__du_lieu_bo_sung__nganh_nghe_thu_hut,du_lieu_tiep_nhan__du_lieu_bo_sung__so_quyet_dinh_thanh_lap,du_lieu_tiep_nhan__du_lieu_bo_sung__ngay_thanh_lap,du_lieu_tiep_nhan__du_lieu_bo_sung__trang_thai,raw_json</value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-content</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>JSON Handling Strategy</key>
                        <value>ESCAPED</value>
                    </entry>
                    <entry>
                        <key>Pretty Print</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>0c28af8f-3298-3b46-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>1312.0</x>
                <y>176.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <dependencies>
<dependentValues>Regex Replace</dependentValues>
<dependentValues>Literal Replace</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <dependencies>
<dependentValues>Prepend</dependentValues>
<dependentValues>Regex Replace</dependentValues>
<dependentValues>Always Replace</dependentValues>
<dependentValues>Append</dependentValues>
<dependentValues>Literal Replace</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Text to Prepend</key>
                        <value>
                            <dependencies>
<dependentValues>Surround</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Text to Prepend</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Text to Append</key>
                        <value>
                            <dependencies>
<dependentValues>Surround</dependentValues>
<propertyName>Replacement Strategy</propertyName>
                            </dependencies>
                            <name>Text to Append</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Always Replace</value>
                    </entry>
                    <entry>
                        <key>Regular Expression</key>
                        <value>(?s)(^.*$)</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{
                        "status": "FAILED",
                        "record_id": "${kafka.key}",
                        "error_message": "${json.validation.errors}"

                        }</value>
                    </entry>
                    <entry>
                        <key>Text to Prepend</key>
                    </entry>
                    <entry>
                        <key>Text to Append</key>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Line-by-Line</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>2c36fce4-01d5-355d-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>272.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>
                            <name>Routing Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>is_check_data</key>
                        <value>
                            <name>is_check_data</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Routing Strategy</key>
                        <value>Route to Property name</value>
                    </entry>
                    <entry>
                        <key>is_check_data</key>
                        <value>${#{is.check.data}:equals('true')}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>RouteOnAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>is_check_data</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
            <id>444943e8-3697-35ab-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>696.0</x>
                <y>960.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>89af62d4-a433-3583-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>5c194ca0-cbdc-3dbe-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>500</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>5000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
        <processors>
            <id>579bcba8-c94c-3095-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>
                            <name>topic_type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>
                            <name>honor-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>
                            <name>group.id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>
                            <name>auto.offset.reset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>
                            <name>separate-by-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                        <value>
                            <name>header-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>
                            <name>max.poll.records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>
                            <name>max-uncommit-offset-wait</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>centos-8-01.novalocal:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>TH_TTDLQG_G02_006</value>
                    </entry>
                    <entry>
                        <key>topic_type</key>
                        <value>names</value>
                    </entry>
                    <entry>
                        <key>honor-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>group.id</key>
                        <value>TH/TTDLQG</value>
                    </entry>
                    <entry>
                        <key>auto.offset.reset</key>
                        <value>latest</value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>separate-by-key</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>header-name-regex</key>
                    </entry>
                    <entry>
                        <key>max.poll.records</key>
                        <value>10000</value>
                    </entry>
                    <entry>
                        <key>max-uncommit-offset-wait</key>
                        <value>1 secs</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>60 secs</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConsumeKafka_2_0 - TH_TTDLQG_G02_006</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0</type>
        </processors>
        <processors>
            <id>6e61664c-1197-3b3e-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>696.0</x>
                <y>184.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Schema Access Strategy</key>
                        <value>
                            <name>Schema Access Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                        <value>
                            <dependencies>
<dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
<propertyName>Schema Access Strategy</propertyName>
                            </dependencies>
                            <name>Schema Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JSON Schema Registry</key>
                        <value>
                            <dependencies>
<dependentValues>SCHEMA_NAME_PROPERTY</dependentValues>
<propertyName>Schema Access Strategy</propertyName>
                            </dependencies>
                            <identifiesControllerService>org.apache.nifi.schemaregistry.services.JsonSchemaRegistry</identifiesControllerService>
                            <name>JSON Schema Registry</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JSON Schema</key>
                        <value>
                            <dependencies>
<dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
<propertyName>Schema Access Strategy</propertyName>
                            </dependencies>
                            <name>JSON Schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>JSON Schema Version</key>
                        <value>
                            <dependencies>
<dependentValues>SCHEMA_CONTENT_PROPERTY</dependentValues>
<propertyName>Schema Access Strategy</propertyName>
                            </dependencies>
                            <name>JSON Schema Version</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Schema Access Strategy</key>
                        <value>SCHEMA_CONTENT_PROPERTY</value>
                    </entry>
                    <entry>
                        <key>Schema Name</key>
                        <value>TH_TTDLQG_G02_006</value>
                    </entry>
                    <entry>
                        <key>JSON Schema Registry</key>
                    </entry>
                    <entry>
                        <key>JSON Schema</key>
                        <value>{"Fields":[{"FieldOrder":"1","FieldName":"NguonDuLieu","Type":"object","Required":"1","MaxLength":null,"Description":"Thông tin nguồn dữ liệu","Children":[{"FieldOrder":"1.1","FieldName":"IdNguonDuLieu","Type":"string","Required":"1","MaxLength":50,"Description":"Mã định danh nguồn dữ liệu (= BCT — Bộ Công Thương)","Children":null},{"FieldOrder":"1.2","FieldName":"TenNguonDuLieu","Type":"string","Required":"1","MaxLength":500,"Description":"Tên nguồn dữ liệu","Children":null},{"FieldOrder":"1.3","FieldName":"MaLoaiDuLieu","Type":"string","Required":"1","MaxLength":100,"Description":"Mã loại dữ liệu (= BCT_006)","Children":null},{"FieldOrder":"1.4","FieldName":"TenLoaiDuLieu","Type":"string","Required":"0..1","MaxLength":4000,"Description":"Tên/mô tả loại dữ liệu (= CSDL Khu, Cụm Công nghiệp, Cụm liên kết ngành)","Children":null}]},{"FieldOrder":"2","FieldName":"TrangThaiDuLieu","Type":"object","Required":"1","MaxLength":null,"Description":"Trạng thái và phiên bản dữ liệu","Children":[{"FieldOrder":"2.1","FieldName":"PhienBan","Type":"int","Required":"1","MaxLength":null,"Description":"Phiên bản dữ liệu (versioning/dedup)","Children":null},{"FieldOrder":"2.2","FieldName":"NgayHieuLuc","Type":"string","Required":"0..1","MaxLength":35,"Description":"Ngày hiệu lực","Format":"yyyy-mm-ddTHH:mm:ss","Children":null},{"FieldOrder":"2.3","FieldName":"ThoiGianCapNhat","Type":"string","Required":"0..1","MaxLength":35,"Description":"Thời gian cập nhật","Format":"yyyy-mm-ddTHH:mm:ss","Children":null}]},{"FieldOrder":"3","FieldName":"DuLieuTiepNhan","Type":"object","Required":"1","MaxLength":null,"Description":"Mô tả chung của loại dữ liệu BBN","Children":[{"FieldOrder":"3.1","FieldName":"IdBanGhi","Type":"string","Required":"1","MaxLength":36,"Description":"Mã định danh bản ghi (UUID)","Format":"uuid","Children":null},{"FieldOrder":"3.2","FieldName":"MaDinhDanhDuLieu","Type":"string","Required":"1","MaxLength":36,"Description":"Mã định danh bộ dữ liệu (UUID)","Format":"uuid","Children":null},{"FieldOrder":"3.3","FieldName":"TieuDe","Type":"string","Required":"1","MaxLength":500,"Description":"Tiêu đề bộ dữ liệu","Children":null},{"FieldOrder":"3.4","FieldName":"MoTa","Type":"string","Required":"0..1","MaxLength":4000,"Description":"Mô tả bộ dữ liệu","Children":null},{"FieldOrder":"3.5","FieldName":"TanSuatCapNhat","Type":"string","Required":"0..1","MaxLength":50,"Description":"Tần suất cập nhật","Children":null},{"FieldOrder":"3.6","FieldName":"NgayCapNhat","Type":"string","Required":"0..1","MaxLength":35,"Description":"Ngày cập nhật","Format":"yyyy-mm-ddTHH:mm:ss","Children":null},{"FieldOrder":"3.7","FieldName":"TrangThai","Type":"string","Required":"0..1","MaxLength":20,"Description":"Trạng thái bộ dữ liệu","Children":null},{"FieldOrder":"3.8","FieldName":"DuLieuBoSung","Type":"object","Required":"1","MaxLength":null,"Description":"Dữ liệu đặc thù — CSDL Khu, Cụm Công nghiệp, Cụm liên kết ngành [nguồn: Nghị định 32/2024/NĐ-CP về quản lý, phát triển cụm công nghiệp; Luật Đầu tư]","Children":[{"FieldOrder":"3.8.1","FieldName":"TenCumCongNghiep","Type":"string","Required":"1","MaxLength":500,"Description":"Tên khu/cụm công nghiệp/cụm liên kết ngành","Children":null},{"FieldOrder":"3.8.2","FieldName":"LoaiHinh","Type":"string","Required":"0..1","MaxLength":100,"Description":"Loại hình","Children":null},{"FieldOrder":"3.8.3","FieldName":"DiaBan","Type":"string","Required":"0..1","MaxLength":300,"Description":"Địa bàn (xã/huyện)","Children":null},{"FieldOrder":"3.8.4","FieldName":"TinhThanh","Type":"string","Required":"0..1","MaxLength":100,"Description":"Tỉnh/Thành phố","Children":null},{"FieldOrder":"3.8.5","FieldName":"DienTichQuyHoach","Type":"float","Required":"0..1","MaxLength":null,"Description":"Diện tích quy hoạch (ha)","Children":null},{"FieldOrder":"3.8.6","FieldName":"DienTichDatCongNghiep","Type":"float","Required":"0..1","MaxLength":null,"Description":"Diện tích đất công nghiệp (ha)","Children":null},{"FieldOrder":"3.8.7","FieldName":"DienTichDaChoThue","Type":"float","Required":"0..1","MaxLength":null,"Description":"Diện tích đất công nghiệp đã cho thuê (ha)","Children":null},{"FieldOrder":"3.8.8","FieldName":"TyLeLapDay","Type":"float","Required":"0..1","MaxLength":null,"Description":"Tỷ lệ lấp đầy (%)","Children":null},{"FieldOrder":"3.8.9","FieldName":"ChuDauTuHaTang","Type":"string","Required":"0..1","MaxLength":500,"Description":"Chủ đầu tư hạ tầng","Children":null},{"FieldOrder":"3.8.10","FieldName":"NganhNgheThuHut","Type":"array\u003cstring\u003e","Required":"0..n","MaxLength":null,"Description":"Ngành nghề thu hút đầu tư","Children":null},{"FieldOrder":"3.8.11","FieldName":"SoQuyetDinhThanhLap","Type":"string","Required":"0..1","MaxLength":100,"Description":"Số quyết định thành lập","Children":null},{"FieldOrder":"3.8.12","FieldName":"NgayThanhLap","Type":"string","Required":"0..1","MaxLength":10,"Description":"Ngày thành lập","Format":"yyyy-mm-dd","Children":null},{"FieldOrder":"3.8.13","FieldName":"TrangThai","Type":"string","Required":"0..1","MaxLength":100,"Description":"Trạng thái","Children":null}]}]}]}</value>
                    </entry>
                    <entry>
                        <key>JSON Schema Version</key>
                        <value>DRAFT_2020_12</value>
                    </entry>
                </properties>
                <retriedRelationships>failure</retriedRelationships>
                <retriedRelationships>invalid</retriedRelationships>
                <retryCount>1</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ValidateJson</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>invalid</name>
                <retry>true</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>valid</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#de92e8</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.standard.ValidateJson</type>
        </processors>
        <processors>
            <id>99cbcfc0-ab4d-3ddf-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>696.0</x>
                <y>1208.0</y>
            </position>
            <bundle>
                <artifact>nifi-iceberg-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>catalog-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.services.iceberg.IcebergCatalogService</identifiesControllerService>
                            <name>catalog-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>catalog-namespace</key>
                        <value>
                            <name>catalog-namespace</name>
                        </value>
                    </entry>
                    <entry>
                        <key>table-name</key>
                        <value>
                            <name>table-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>unmatched-column-behavior</key>
                        <value>
                            <name>unmatched-column-behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>file-format</key>
                        <value>
                            <name>file-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>maximum-file-size</key>
                        <value>
                            <name>maximum-file-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                            <name>kerberos-user-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>number-of-commit-retries</key>
                        <value>
                            <name>number-of-commit-retries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>minimum-commit-wait-time</key>
                        <value>
                            <name>minimum-commit-wait-time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>maximum-commit-wait-time</key>
                        <value>
                            <name>maximum-commit-wait-time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>maximum-commit-duration</key>
                        <value>
                            <name>maximum-commit-duration</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>8831a1bc-0e4d-39f5-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>catalog-service</key>
                        <value>21e0695f-1d55-39f8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>catalog-namespace</key>
                        <value>zone2</value>
                    </entry>
                    <entry>
                        <key>table-name</key>
                        <value>TH_TTDLQG_G02_006</value>
                    </entry>
                    <entry>
                        <key>unmatched-column-behavior</key>
                        <value>FAIL_UNMATCHED_COLUMN</value>
                    </entry>
                    <entry>
                        <key>file-format</key>
                        <value>PARQUET</value>
                    </entry>
                    <entry>
                        <key>maximum-file-size</key>
                    </entry>
                    <entry>
                        <key>kerberos-user-service</key>
                    </entry>
                    <entry>
                        <key>number-of-commit-retries</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>minimum-commit-wait-time</key>
                        <value>100 ms</value>
                    </entry>
                    <entry>
                        <key>maximum-commit-wait-time</key>
                        <value>2 sec</value>
                    </entry>
                    <entry>
                        <key>maximum-commit-duration</key>
                        <value>30 sec</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutIceberg</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.iceberg.PutIceberg</type>
        </processors>
        <processors>
            <id>b9b4ba34-1c7f-3c5a-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>696.0</x>
                <y>456.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <dependencies>
<dependentValues>flowfile-attribute</dependentValues>
<propertyName>Destination</propertyName>
                            </dependencies>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>
                            <name>Max String Length</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__chu_dau_tu_ha_tang</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__chu_dau_tu_ha_tang</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dia_ban</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__dia_ban</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_da_cho_thue</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_da_cho_thue</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_dat_cong_nghiep</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_dat_cong_nghiep</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_quy_hoach</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_quy_hoach</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__loai_hinh</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__loai_hinh</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__nganh_nghe_thu_hut</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__nganh_nghe_thu_hut</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__ngay_thanh_lap</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__ngay_thanh_lap</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__so_quyet_dinh_thanh_lap</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__so_quyet_dinh_thanh_lap</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__ten_cum_cong_nghiep</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__ten_cum_cong_nghiep</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__tinh_thanh</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__tinh_thanh</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__trang_thai</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__trang_thai</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__ty_le_lap_day</key>
                        <value>
                            <name>du_lieu_tiep_nhan__du_lieu_bo_sung__ty_le_lap_day</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__id_ban_ghi</key>
                        <value>
                            <name>du_lieu_tiep_nhan__id_ban_ghi</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__ma_dinh_danh_du_lieu</key>
                        <value>
                            <name>du_lieu_tiep_nhan__ma_dinh_danh_du_lieu</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__mo_ta</key>
                        <value>
                            <name>du_lieu_tiep_nhan__mo_ta</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__ngay_cap_nhat</key>
                        <value>
                            <name>du_lieu_tiep_nhan__ngay_cap_nhat</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__tan_suat_cap_nhat</key>
                        <value>
                            <name>du_lieu_tiep_nhan__tan_suat_cap_nhat</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__tieu_de</key>
                        <value>
                            <name>du_lieu_tiep_nhan__tieu_de</name>
                        </value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__trang_thai</key>
                        <value>
                            <name>du_lieu_tiep_nhan__trang_thai</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__id_nguon_du_lieu</key>
                        <value>
                            <name>nguon_du_lieu__id_nguon_du_lieu</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__ma_loai_du_lieu</key>
                        <value>
                            <name>nguon_du_lieu__ma_loai_du_lieu</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__ten_loai_du_lieu</key>
                        <value>
                            <name>nguon_du_lieu__ten_loai_du_lieu</name>
                        </value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__ten_nguon_du_lieu</key>
                        <value>
                            <name>nguon_du_lieu__ten_nguon_du_lieu</name>
                        </value>
                    </entry>
                    <entry>
                        <key>raw_json</key>
                        <value>
                            <name>raw_json</name>
                        </value>
                    </entry>
                    <entry>
                        <key>trang_thai_du_lieu__ngay_hieu_luc</key>
                        <value>
                            <name>trang_thai_du_lieu__ngay_hieu_luc</name>
                        </value>
                    </entry>
                    <entry>
                        <key>trang_thai_du_lieu__phien_ban</key>
                        <value>
                            <name>trang_thai_du_lieu__phien_ban</name>
                        </value>
                    </entry>
                    <entry>
                        <key>trang_thai_du_lieu__thoi_gian_cap_nhat</key>
                        <value>
                            <name>trang_thai_du_lieu__thoi_gian_cap_nhat</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>json</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>Max String Length</key>
                        <value>20 MB</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__chu_dau_tu_ha_tang</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.ChuDauTuHaTang</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dia_ban</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.DiaBan</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_da_cho_thue</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.DienTichDaChoThue</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_dat_cong_nghiep</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.DienTichDatCongNghiep</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__dien_tich_quy_hoach</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.DienTichQuyHoach</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__loai_hinh</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.LoaiHinh</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__nganh_nghe_thu_hut</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.NganhNgheThuHut</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__ngay_thanh_lap</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.NgayThanhLap</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__so_quyet_dinh_thanh_lap</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.SoQuyetDinhThanhLap</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__ten_cum_cong_nghiep</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.TenCumCongNghiep</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__tinh_thanh</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.TinhThanh</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__trang_thai</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.TrangThai</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__du_lieu_bo_sung__ty_le_lap_day</key>
                        <value>$.DuLieuTiepNhan.DuLieuBoSung.TyLeLapDay</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__id_ban_ghi</key>
                        <value>$.DuLieuTiepNhan.IdBanGhi</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__ma_dinh_danh_du_lieu</key>
                        <value>$.DuLieuTiepNhan.MaDinhDanhDuLieu</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__mo_ta</key>
                        <value>$.DuLieuTiepNhan.MoTa</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__ngay_cap_nhat</key>
                        <value>$.DuLieuTiepNhan.NgayCapNhat</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__tan_suat_cap_nhat</key>
                        <value>$.DuLieuTiepNhan.TanSuatCapNhat</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__tieu_de</key>
                        <value>$.DuLieuTiepNhan.TieuDe</value>
                    </entry>
                    <entry>
                        <key>du_lieu_tiep_nhan__trang_thai</key>
                        <value>$.DuLieuTiepNhan.TrangThai</value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__id_nguon_du_lieu</key>
                        <value>$.NguonDuLieu.IdNguonDuLieu</value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__ma_loai_du_lieu</key>
                        <value>$.NguonDuLieu.MaLoaiDuLieu</value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__ten_loai_du_lieu</key>
                        <value>$.NguonDuLieu.TenLoaiDuLieu</value>
                    </entry>
                    <entry>
                        <key>nguon_du_lieu__ten_nguon_du_lieu</key>
                        <value>$.NguonDuLieu.TenNguonDuLieu</value>
                    </entry>
                    <entry>
                        <key>raw_json</key>
                        <value>$</value>
                    </entry>
                    <entry>
                        <key>trang_thai_du_lieu__ngay_hieu_luc</key>
                        <value>$.TrangThaiDuLieu.NgayHieuLuc</value>
                    </entry>
                    <entry>
                        <key>trang_thai_du_lieu__phien_ban</key>
                        <value>$.TrangThaiDuLieu.PhienBan</value>
                    </entry>
                    <entry>
                        <key>trang_thai_du_lieu__thoi_gian_cap_nhat</key>
                        <value>$.TrangThaiDuLieu.ThoiGianCapNhat</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>cbe524a5-8f8b-3151-0000-000000000000</id>
            <parentGroupId>42968777-d8e5-37f2-0000-000000000000</parentGroupId>
            <position>
                <x>1928.0</x>
                <y>176.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-0-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments>
        </comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <dependencies>
<dependentValues>PLAIN</dependentValues>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <dependencies>
<dependentValues>SCRAM-SHA-512</dependentValues>
<dependentValues>SCRAM-SHA-256</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                        <value>
                            <dependencies>
<dependentValues>AWS_MSK_IAM</dependentValues>
<propertyName>sasl.mechanism</propertyName>
                            </dependencies>
                            <name>aws.profile.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>
                            <name>Failure Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>centos-8-01.novalocal:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>aws.profile.name</key>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>dmst_integration_error_topic</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Failure Strategy</key>
                        <value>Route to Failure</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PublishKafka_2_0</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#2a2ae8</value>
                </entry>
            </style>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0</type>
        </processors>
    </snippet>
    <timestamp>06/08/2026 11:06:11 UTC</timestamp>
</template>
